:root {
    --bleu: rgba(44, 62, 80, 1);
    --vert: rgb(61, 143, 63);
    --orange: rgba(255, 152, 0, 1)
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    padding-top: 8vw;
    width: 98.9vw;
}

main .entete {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main .entete h1 {
    font-size: 2.5vw;
    font-weight: 500;
}

main .entete p {
    font-size: 1.5vw;
    padding-top: 0.7vw;
    margin-top: 0.7vw;
    border-top: solid black 1px;
}
.reservations{
    margin: 6vw 14vw 8vw 14vw;
    display: flex;
    flex-direction: column-reverse;
}
.reservation{
    display: flex;
    margin-bottom: 2vw;
    height: 16vw;
}
.image_voiture{
    background-color: rgba(217, 217, 217, 1);
    border-radius: 2vw;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
        border: var(--bleu) 2px solid;
}
.image_voiture img{
    width: 90%;
    
}
.detail_reservation{
    width: 50%;
    padding: 1vw 2vw;
}
.detail_reservation input {
    border: none;
    font-size: 1svw;
    background-color: rgba(217, 217, 217, 1);
    padding: 0.35vw 0.5vw;
    border-radius: 0.5vw;
    width: 85%;
    margin-bottom: 0.4vw;
        border: var(--bleu) 1px solid;
}
.plaque input{
    width: 56%;
}
.date_debut input{
    width: 73%;
}
.date_fin input{
    width: 78%;
}
.detail_reservation label {
    font-size: 1.2vw;
}
.detail_reservation button {
    border: none;
    background-color: var(--bleu);    
    color: white;
    font-size: 1.4vw;
    border-radius: 0.8vw;
    padding: 0.2vw 0.8vw;
    font-weight: 500;
    margin: 0.5vw 0.5vw 0 0;
    transition-duration: 200ms;
}
.detail_reservation button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.paiement{
    width: 20%;
    border: black 1px solid;
    border-radius: 1.5vw;
    text-align: center;
    padding-top: 1vw;
    border: var(--bleu) 3px solid;
}
.paiement h2{
    font-size: 1.8vw;
    margin-bottom: 0.5vw;
}
.paiement p{
    font-size: 1.2vw;
    margin:0 1vw 1vw 1vw;
}
.alerte_paiement{
    display:none;
    background-color: var(--bleu);
    height: 65%;
    border-radius:0 0 1.5vw 1.5vw;
}
.paiement button {
    background-color: var(--bleu);
    color: white;
    font-size: 1.1vw;
    border-radius: 1vw;
    padding: 0.1vw 1vw;
    font-weight: 400;
    margin: 0.5vw 0.5vw 0 0;
    transition-duration: 200ms;
}

.paiement button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.alerte_paiement button{
    padding: 0.1vw 0.5vw;
    margin: 1vw 0.2vw 0 0;
    background-color: white;
    color: var(--bleu);
        border: var(--bleu) 1px solid;
}
.alerte_paiement h3{
    font-size: 1.2vw;
    color: white;
    font-weight: 400;
    padding: 0.5vw 0 0.8vw 0;
}
.alerte_paiement select{
    font-size: 1.2vw;
    border-radius: 0.3vw;
    border: var(--bleu) 1px solid;
}
.notification{
    margin-left: 6vw;
}
.no_reserv{
    font-size: 2.5vw;
    justify-self: center;
    margin: 5vw 0;
}